<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=UnifrakturCook:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<style>
		body {
			margin-top: 2pt;
			margin-left: 2pt;
			font-family: 'Roboto', Helvetica, Arial, sans-serif;
			font-size: 0.9em;
		}
		
		#shows {
			text-align: center;
			margin-top: 4em;
		}
		
		#shows ul {
			list-style-type: none;
			margin: 4em auto;
			text-align: left;
			width: 600px;
			max-width: 80%;
		}
		
		#shows li {
			margin: 1.5em;
		}
		
		.label {
			font-weight: bold;
			padding-right: 10px;
		}
		
		#duplicate_channels {
			font-weight: bold;
			color: red;
			font-size: 20px;
		}
	</style>
	
	<script>
		function sendFalse(id) {
			var formData = new FormData();
			formData.append("id", id);
			formData.append("relevant", false);
			
			var client = new XMLHttpRequest();
			client.onreadystatechange = function() {
				if(this.readyState == 4) {
					if(this.status == 200 && this.responseText == "success") {
						var li = document.getElementById(id);
						var form = li.getElementsByTagName("form")[0];
						form.parentNode.removeChild(form);
						li.setAttribute("style", "background-color: #f2dede");
					} else {
						alert("Something went wrong.");
					}
				}
			};
			client.open("POST", "<%= url("/admin/update_show") %>");
			client.send(formData);
		}
		
		function sendTrue(id) {
			var li = document.getElementById(id);
			var form = li.getElementsByTagName("form")[0];
			
			if(form.elements.channelselect.selectedIndex == 0) {
				var channelName = form.elements.channelnew.value;
				var formData = new FormData();
				formData.append("name", channelName);
				
				var client = new XMLHttpRequest();
				client.onreadystatechange = function() {
					if(this.readyState == 4) {
						if(this.status == 200 && this.responseText == "success") {
							var selects = document.getElementsByTagName("select");
							for(var i = 0; i < selects.length; i++) {
								var option = document.createElement("option");
								option.innerText = channelName;
								selects[i].appendChild(option);
							}
							
							doSendTrue(id, li, form, channelName);
						} else {
							alert("Something went wrong while creating a channel.");
						}
					}
				};
				client.open("POST", "<%= url("/admin/create_channel") %>");
				client.send(formData);
			} else {
				doSendTrue(id, li, form, form.elements.channelselect.options[form.elements.channelselect.selectedIndex].text);
			}
			
		}
		
		function doSendTrue(id, li, form, channel) {
			var formData = new FormData();
			formData.append("id", id);
			formData.append("relevant", true);
			formData.append("channel", channel);
			formData.append("tags", form.elements.tags.value);
			
			var client = new XMLHttpRequest();
			client.onreadystatechange = function() {
				if(this.readyState == 4) {
					if(this.status == 200 && this.responseText == "success") {
						form.parentNode.removeChild(form);
						li.setAttribute("style", "background-color: #dff0d8");
					} else {
						alert("Something went wrong.");
					}
				}
			};
			client.open("POST", "<%= url("/admin/update_show") %>");
			client.send(formData);
		}
	</script>
	<title>Is Hitler On TV Today?</title>
</head>
<body>
	<% unless @duplicate_dvbchannels.empty? %>
		<ul id="duplicate_channels">
			<% @duplicate_dvbchannels.each do |channel| %>
				<li><%= channel.dvbid %> - <%= channel.name %></li>
			<% end %>
		</ul>
	<% end %>
	<% unless @shows.empty? %>
		<div id="shows">
			<ul>
				<% @shows.each do |show| %>
					<li id="<%= show.id %>">
						<table>
							<tr>
								<td colspan=2><b><%= show.name %></b></td>
							</tr>
							<tr>
								<td class="label">Channel</td>
								<td><%= @dvbchannels.first(:dvbid => show.channel_dvbid) %></td>
							</tr>
							<tr>
								<td class="label">Starts at</td>
								<td><%= show.starts_at.strftime("%c") %></td>
							</tr>
							<tr>
								<td class="label">Ends at</td>
								<td><%= show.ends_at.strftime("%c") %></td>
							</tr>
							<% unless show.subtitle.nil? %>
							<tr>
								<td class="label">Subtitle</td>
								<td><%== br_h(show.subtitle) %></td>
							</tr>
							<% end %>
							<% unless show.description.nil? %>
							<tr>
								<td class="label">Description</td>
								<td><%== br_h(show.description) %></td>
							</tr>
							<% end %>
							<% same_shows = Show.all(:starts_at.lt => show.ends_at, :ends_at.gt => show.starts_at, :relevant.not => nil, :name => show.name, :id.not => show.id) %>
							<% unless same_shows.empty? %>
							<tr>
								<td class="label">Also on</td>
								<td><%= same_shows.map{|same_show| @dvbchannels.first(:dvbid => same_show.channel_dvbid)}.join(", ") %></td>
							</tr>
							<% end %>
						</table>
						<form onsubmit="return false;">
							<table>
								<tr>
									<td>Tags: </td>
									<td><input type="text" name="tags"></td>
								</tr>
								<tr>
									<td>Channel: </td>
									<td><select name="channelselect">
										<option>new</option>
										<% @channels.each do |channel| %>
											<option><%= channel.name %></option>
										<% end %>
									</select></td>
								</tr>
								<tr>
									<td>(new): </td>
									<td><input type="text" name="channelnew"></td>
								</tr>
							</table>
							<button onclick="sendFalse(<%= show.id %>);">Irrelevant</button>
							<button onclick="sendTrue(<%= show.id %>);">Relevant</button>
						</form>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>
</body>
</html>
